{% extends 'index.html' %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Credits</th>
            <th>Instructor</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody id="studentTable">
        <tr>
            {% for i in cource %}

            <tr>   
                <td>{{i.course_name}}</td>
                <td>{{i.credits}}</td>
                <td>{{i.instructor}}</td>
            <td>
                <button onclick="viewStudent(1)">View</button>
                <button onclick="editStudent(1)">Edit</button>
                <button onclick="deleteStudent(1)">Delete</button>
            </td>
            {% endfor %}

        </tr>
    </tbody>
</table>
{% endblock body %}
